@import '../../index.scss';
.plans{
    .card{
        .plan{
        p{

            .disabled{
                color: $color-gray-400!important;
               
              }


        }
     
        .button{
            padding: 0.5rem 1rem;
            display: inline-block!important;
            
        }
    }
}
}