@import '../index.scss';


nav{
    height: 5rem;
    width: 100vw;
    background: $color-primary;
    display: grid;
    place-items: center;
    position: fixed ;
    top: 0;
    left: 0;
    z-index: 99;
    

}

//  only show in small and medium screen

.nav__toggle-btn{
    display: none;

}


.nav__container{
   height: 100%;
   padding-top: 0.5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;

   .logo{
    width: 9rem;
    display: block;
   }
   .nav__links{
    display: flex;
    gap: 4rem;
   

    a{
        transition: $transition;
        color: white;
        font-size: 1.3rem;
        &:hover{
            color:$color-secondary;
        }
    }
   }
}

.active-nav{
    position: relative;
}
.active-nav::after{
    content: "";
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background: $color-primary;
    position: absolute;
    left:calc(50% - 0.6rem);
    transform: rotate(45deg);
    margin-top: 1.2rem;

}

@media (max-width:1024px) {
    .nav__toggle-btn{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        cursor: pointer;
        & svg {

            color: $color-gray-100;
        }


    }
    .nav__links{
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0rem !important;
      

        li{
            height: 100%;
            width: 100%;
            box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.659);
           
            a{
                background: $color-primary;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                padding: 1rem 5rem 1rem 3rem;
            }
        }
      
    }

 .active-nav{
    display: none !important;

 }
  .show__nav{
    display: block !important;
   }

   .hide__nav{
    display: none !important;
   }

    
}