*,*::before, *::after {
    margin: 0;
    padding: 0px;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none !important;
    box-sizing: border-box;



}
$primary-hue: 210;
$gray-hue: 240;
$color-primary: hsl($primary-hue,100%,50%);
$color-primary-variant: hsl($primary-hue,100%,65%);
$color-secondary: #ffb116;
$color-gray-100: hsl($gray-hue,47%,94%);
$color-gray-200: hsl($gray-hue,25%,75%);
$color-gray-300: hsl($gray-hue,24%,64%);
$color-gray-400: hsl($gray-hue,16%,41%);
$color-gray-500: hsl($gray-hue,44%,25%);
$color-gray-600: hsl($gray-hue,48%,15%);
$container-width-lg: 80%;
$container-width-md: 90%;

$transition: all 500ms ease;
html{
    font-size: 62.5%;
}


body{
    background: $color-gray-600 !important;

    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    overflow-x: hidden;
    

}


.container{
    width: $container-width-lg;
    max-width: 1920px;
    margin-inline: auto;
}

h1,h2,h3,h4,h5 {
    line-height: 1.2;
    color: $color-gray-100!important;

}

h1{
    font-size: 4rem !important;

}
h2{
    font-size: 3rem !important;
}

a, p, small, span{
    color: $color-gray-100;
}

img{
    display: block;
    object-fit: cover;
    width: 100%;

}

.btn-group-lg>.btn, .btn-lg{
    padding: 1rem 1.5rem;
    font-size: 2rem;
}




.section__head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    span{
        background: $color-gray-500 !important;
        padding: 0.8rem 1rem;
        border-radius: 1rem;
        color: $color-secondary !important;
        font-size:2rem ;
    }
    }

.card  {
    background-color:$color-gray-500 !important;
    border: 2px solid transparent !important;
    text-align: center !important;
    padding: 3rem 2rem !important;
    border-radius: 0 3rem 0 3rem !important;
   
    &:hover{
        background: transparent!important;
        border-color: $color-gray-400!important;
        cursor: default!important;
      
    }
   &:hover span{
    background-color: $color-secondary !important;
    color: $color-gray-600 !important;
   }
span{
    width: 3.5rem !important;
    height: 3.5rem !important;
    background: $color-primary !important;
    color: $color-gray-100 !important;
    font-size: 2rem !important;

    display: grid !important;
    place-items: center !important;
    margin-bottom: 2rem !important;
    margin-inline: auto !important;
    border-radius: 1rem !important;
    transition: $transition !important;
    

}
 
small{
    margin-top: 1rem !important;
    display: block !important;
    font-weight: 300 !important;
    
}
button{
    padding: 1rem 1.5rem;
    border-radius: 2rem;
}
}



.header{
    margin-top: 5rem;
    height: 30rem;
    overflow: hidden;
    border-bottom: 2px solid $color-gray-400;
    display: grid;
    place-items: center;
   .header__container{
width: 100%;
height: 100%;
position: relative;
display: grid;
place-items: center;
background: black;

   }

   .header__container-bg{
   position: absolute;
   img{
    opacity: 0.5;
   }
   }
   .header__content{
    position: relative;
    width: 44%;
    margin: 0 auto;
    text-align: center;
    color: $color-gray-100;
    h2{
        margin-bottom: 1rem;


    }
    .p{
        
    }

   }
}